#borderimg1 {                
border: 1px solid transparent;            
padding: 1px;                
background-color:#fafafa 
}  
 #borderimg2 { 
    
    display: block;
    margin: auto;
	border-radius:5%;
	overflow:hidden;
}
h3{
	padding-left: 8px;
}
#header{
	color: #6200c9;
	font-size: 130%;
}
#subhead{
	color: #6200c9;
	font-size: 110%;
}

body{
	background-color:#fafafa 
}
